@use './settings' as *;
@use '../mixins' as *;
@use '../functions' as *;
@use '../global/colors' as *;

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

h1 {
  @include font-weight(bold);
  font-size: rem(200);
  line-height: 200px;
  letter-spacing: -5px;
}

h2 {
  @include font-weight(bold);
  font-size: rem(56);
  line-height: 68px;
  color: color(gray);
}

h3 {
  @include font-weight(bold);
  font-size: rem(24);
  line-height: 28px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h4 {
  @include font-weight(regular);
  font-size: rem(20);
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h5 {
  @include font-weight(bold);
  font-size: rem(18);
  line-height: 28px;
}

h6 {
  @include font-weight(regular);
  font-size: rem(15);
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: color(gray);
}
